<div class="text-center">
    <h1 class="text-info">Подтверждение заказа</h1>
    
    <p>Заявка отправлена. Вскоре наши операторы свяжутся с вами для уточнения деталей заказа.</p>
    
    <img src="/images/order-confirmation-online-internet-shopping-sale-buy-purchase-process-online-payment-customer-service-and-delivery-mobile-shopping-payment_126608-804.jpg" width="80%" />
</div>