html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.img-fixed-size {
    height: 150px;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.custom-margin-left {
    margin-left: 40px; /* Здесь указывается нужное значение отступа в пикселях, процентах и т.д. */
}
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}