@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-policy">
    <p>
        Добро пожаловать в интернет-магазин техники! Мы ценим вашу конфиденциальность и стремимся обеспечить максимальную защиту ваших личных данных. В данной политике конфиденциальности мы поясним, какую информацию мы собираем, как ее используем и защищаем.
    </p>

    <ol>
        <li>
            <strong>Сбор информации</strong>
            <p>
                Мы собираем определенную информацию, когда вы посещаете наш интернет-магазин или взаимодействуете с нами. Эта информация может включать:
            </p>
            <ul>
                <li>Личные данные, такие как имя, адрес электронной почты, номер телефона и адрес доставки, которые вы предоставляете при оформлении заказа или регистрации на нашем сайте.</li>
                <li>Информацию о вашем устройстве, включая IP-адрес, тип браузера, настройки языка и другие технические данные.</li>
                <li>Информацию о вашей активности на сайте, включая просмотренные страницы, продукты и услуги, совершенные покупки и взаимодействие с функциями сайта.</li>
            </ul>
        </li>
        <li>
            <strong>Использование информации</strong>
            <p>
                Мы используем собранную информацию для следующих целей:
            </p>
            <ul>
                <li>Обработка и доставка ваших заказов.</li>
                <li>Предоставление вам информации о наших продуктах, акциях и специальных предложениях, если вы дали согласие на получение рассылки.</li>
                <li>Улучшение нашего сайта и адаптация его под ваши предпочтения.</li>
                <li>Анализ и изучение поведения пользователей для оптимизации работы сайта и повышения удовлетворенности покупателей.</li>
            </ul>
        </li>
        <li>
            <strong>Защита информации</strong>
            <p>
                Мы принимаем меры для обеспечения безопасности ваших личных данных и предотвращения несанкционированного доступа, использования или раскрытия. Мы используем соответствующие технические и организационные меры для защиты

                ваших данных.
            </p>
        </li>
        <li>
            <strong>Раскрытие информации третьим сторонам</strong>
            <p>
                Мы не продаем, не передаем и не раскрываем ваши личные данные третьим сторонам без вашего согласия, за исключением случаев, когда это необходимо для обработки заказов или соблюдения законов.
            </p>
        </li>
        <li>
            <strong>Согласие и изменение настроек</strong>
            <p>
                При регистрации на нашем сайте или оформлении заказа вы даете свое согласие на сбор и использование информации в соответствии с этой политикой конфиденциальности. Вы имеете право отозвать свое согласие или изменить настройки своей учетной записи в любое время.
            </p>
        </li>
        <li>
            <strong>Ссылки на другие сайты</strong>
            <p>
                Наш сайт может содержать ссылки на другие веб-сайты, которые не контролируются нами. Мы не несем ответственности за содержимое или практики конфиденциальности этих сайтов. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете.
            </p>
        </li>
        <li>
            <strong>Обновления политики конфиденциальности</strong>
            <p>
                Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и вы будете уведомлены о важных изменениях, если это требуется по закону.
            </p>
        </li>
    </ol>

    <p>
        Если у вас возникли вопросы или нужна дополнительная информация о нашей политике конфиденциальности, пожалуйста, свяжитесь с нами.
    </p>

    <p>
        Дата последнего обновления: [28.05.2023]
    </p>
</div>
